<h1>Hobby Hub</h1>
<p>Your hobbies are not just hobbies.</p>
<%= link_to "I am a teacher", "users/sign_in" %><br>
<%= link_to "I am a student", "requests/new"%><br><br>
<%= link_to "About", 'about' %>
<%= link_to "Contact", 'contact' %>