<div id="pagewrap">

	<div id="header1">
		<img src="/res/img/hh.png" />
	</div>
	<div id="header2">
		&nbsp;
	</div>

	<div id="content">
		<div id="content-left">
			<button onclick="window.location.href='/users/sign_up'" class="button-red">Share your passion</button>
			<br />
			...and make money!

		</div>
		<div id="content-right">
			<button onclick="window.location.href='/requests/new'" class="button-red">Learn new Skill</button>
			<br />
			...on a budget!

		</div>
	</div>
	
	<div id="footer">
	</div>

</div>