<div class="header alt vert">
  <div class="container">
    
    <h1>Hobby Hub</h1>
      <p class="lead">You hobbies make a difference</p>
      <div>&nbsp;</div>
      <a href="/users/sign_up" class="btn btn-default btn-lg">Share your passion</a>
      <a href="/requests/new" class="btn btn-default btn-lg">Learn new skill</a>
  </div>
</div>

<div class="featurette">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>How it works?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="icon-rocket"></i>
          <h4>Requests</h4>
          <p>Students post requests of what they want to learn.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-magnet"></i>
          <h4>Matching</h4>
          <p>Teachers reply on requests to get more details.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-shield"></i>
          <h4>Pay</h4>
          <p>Students pay money to the teacher.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-pencil"></i>
          <h4>Learn</h4>
          <p>Students learn new things in a low price, and teachers earn by their hobbies.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb bright">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Join Us Today</h3>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2><i class="icon-chevron-left"></i> Teacher</h2></div>
         <div class="panel-body text-center">As a teacher, you will be able to find students easily and teach them.
            <div class="row">&nbsp;</div>
          <button onclick="window.location.href='/users/sign_up'" class="btn btn-lg btn-primary btn-block">Share your passion</button> 
          </div>
         </div>
 	</div>
    <div class="col-sm-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2>Student <i class="icon-chevron-right"></i></h2></div>
         <div class="panel-body text-center">As a student, you can enjoy education in a very low price.
           <div class="row">&nbsp;</div>
          <button onclick="window.location.href='/requests/new'" class="btn btn-lg btn-primary btn-block">Learn new skill</button> 
           
          </div>
         </div>
 	</div>
  </div>
</div>